@use '../styles/partials/variables.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: $primary;
  border: 1px solid $primary;
  color: white;
  cursor: pointer;
}